<!-- app/views/new_friends/index.html.erb -->
<h1> New Friends</h1>
<!-- Add your content here -->

<br>

<div>
  <%= link_to "Back to friends", new_friends_path %>
</div>

def index
    @friend = Friend.new # Initialize a new instance of the Friend model
  end
<%= render "form", friend: @friend %>